APP_ENV=dev
APP_SECRET=ee988866f6b904d41c4d0488457b0bfd
APP_LOCALE=en

TIMEZONE=Europe/Kiev

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=symfony
MYSQL_USER=symfony
MYSQL_PASSWORD=1234567
MYSQL_HOST=mysql

###> doctrine/doctrine-bundle ###

DATABASE_URL=mysql://symfony:1234567@mysql:3306/symfony

###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=8be6f096d2d6f85bd4c99f182f19248b
###< lexik/jwt-authentication-bundle ###

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=doctrine://default
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
###< symfony/messenger ###
