<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <rule ref="PSR12">
        <exclude name="PSR12.Files.FileHeader" />
        <exclude name="PSR12.Files.OpenTag" />
<!--   It yells on the indentation on the match:default. Try next stable version to see if they fixed it     -->
        <exclude name="Generic.WhiteSpace.ScopeIndent.IncorrectExact" />
<!--   It doesn't understand new #Route attribute and keep yelling about side effects     -->
        <exclude name="PSR1.Files.SideEffects.FoundWithSymbols" />
    </rule>

    <exclude-pattern>*/src/Kernel.php$</exclude-pattern>

    <file>src/</file>
</ruleset>
